<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-menu-button size="large" menu="main-menu"><img src="../../assets/menu.svg" /></ion-menu-button>
    </ion-buttons>

    <ion-title>

    </ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/images/header2.png" />

    <div class="caption ion-padding">
      All requests <br>
      on <span style="font-style: italic; color: #6CC57C; font-weight: bold;">EcoCyc</span>
    </div>

    <div class="search">
      <ion-item lines="none" class="ion-no-padding">
        <ion-icon slot="start" name="search-outline"></ion-icon>
        <ion-input placeholder="Search requests"></ion-input>
        <ion-button slot='end'>
          <img src="../../assets/filter.svg" />
        </ion-button>
      </ion-item>
    </div>
  </div>

  <div class="title">
    <h2>Latest Requests</h2>

  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let request of requests">
      <ion-item (click)="goToDetail(request)">
        <ion-avatar item-start style="width: 60px; height: 60px;">
          <img *ngIf="request.photoURL !== ''" [src]="request.photoURL">
          <img *ngIf="request.photoURL === ''" src="../../assets/images/default.jpg">
        </ion-avatar>
        <ion-label style="margin-left: 15px;">
          <h2 style="font-weight: bold;">{{request.fullname}}</h2>
          <p style="color: #044723;">
            <ion-icon name="location"></ion-icon>{{request.addressLine1}}, {{request.city}}
          </p>
          <p>{{request.description}}</p>
        </ion-label>
        <ion-note style="color: black;" slot="end">
          {{request.createdAt}}
        </ion-note>
        <ion-badge slot="end" *ngIf="request.status === 'new'" color="success">{{request.status}}</ion-badge>
        <ion-badge slot="end" *ngIf="request.status === 'cancelled'" color="danger">{{request.status}}</ion-badge>
        <ion-badge slot="end" *ngIf="request.status === 'picked up'" color="primary">{{request.status}}</ion-badge>

        <!-- <ion-item-options side="end">
          <ion-item-option>
            <ion-icon slot="icon-only" name="mail" md="md-text">TOTO</ion-icon>
          </ion-item-option>
        </ion-item-options> -->

        <ion-item-options side="end">
          <ion-item-option color="primary" class="sliding">
            <ion-icon slot="icon-only" name="keypad-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="primary">
            <ion-icon slot="icon-only" name="mail-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item>
    </ion-item-sliding>

  </ion-list>

</ion-content>
