<ion-header>
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-menu-button size="large" menu="main-menu"><img src="../../assets/menu.svg" /></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <h2>About</h2>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <p>

  </p>
  <p class="desc"> <b>EcoCycl</b> is an application which promotes the reduction, reusability and recycling of waste. Through a community of professionals, our platform enables product user to dispose thier waste easily and conveniently; </p>
  <div text-center>
     <ion-img src="assets/images/about-image.jpg"></ion-img>  
  </div>
  <p>Once registered on the platform,
    the only thing one needs to do is to create a ticket containing information about the item to be recycled and publish it in our repository and the professionals will handle the rest.</p> 

</ion-content>
