ion-content {
  position: absolute;
  // --background: #f1f1f1;
  --ion-background-color: #F4F5FA;

}

ion-header {
  ion-toolbar {
    --ion-background-color: transparent;
    // --opacity: 0;
  }
}

ion-list {
  ion-item-divider {
    background-color: #6CC57C;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    color: #fff;

    ion-icon {
      font-size: 20px;
    }
  }

  ion-item {
    lines: none;

    ion-label {
      font-weight: bold;
    }
  }
}

.header-button {
  --background: #23233C;
  --ion-background-color: #fff
}

.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  will-change: transform;
}

.submit-btn {
  margin-top: 15px;
  --ion-color-primary: #23233C
}
