

<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-menu-button size="large" menu="main-menu"><img src="../../assets/menu.svg" /></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <h2>Messages</h2>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/images/header_login.png"></ion-img>

  <div class="chat-list" style="height: 100vh;">

    <div class="all-chats ion-padding">
      <div class="heading">
        <h2>All Chats</h2>
      </div>
      <div class="chats">
        <ion-item *ngFor="let thread of threads" (click)="goToRoom(thread)" lines="none">
        <!-- <ion-item lines="none"> -->
          <!-- <ion-avatar slot="start">
            <img src="assets/persons/person1.svg">
          </ion-avatar> -->
          <ion-avatar slot="start">
            <img [src]="thread?.photoURL">
          </ion-avatar>
          <ion-label>
            <div class="flex_box">
              <h3>{{thread?.fullname}}</h3>
              <ion-note slot="end">{{thread?.messages[0].createdAt | timeAgo}}</ion-note>
            </div>
            <div class="flex_box">
              <p>{{thread?.messages[0].text}}</p>
            </div>
          </ion-label>

          <!-- <ion-label class="ion-text-nowrap">
            <h2>Hello</h2>
            <p>Do you have your mask?</p>
          </ion-label>
          <div class="info-div">
             <p>2:14</p>
          </div> -->
        </ion-item>

      </div>

      <div class="no-msg" *ngIf="threads.length === 0">
        <h2>You don't have messages</h2>
      </div>
    </div>
  </div>
  <ion-fab-button (click)="newMessage()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-content>

