<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header class="ion-no-border">
  <ion-toolbar color="primary" no-border>
    <ion-buttons slot="start">
      <ion-menu-button size="large" menu="main-menu"><img src="../../assets/menu.svg" /></ion-menu-button>
    </ion-buttons>

    <ion-title>
      <h2>Posts</h2>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" style="background-color: #F4F5FA;">
  <ion-card *ngFor="let post of posts" style="margin-bottom: 20px;">
    <ion-card-header style="padding-bottom: 1px;">
      <ion-row>
        <ion-col>
          <ion-item detail="false" lines="none">
            <ion-label style="text-align: center; text-transform: uppercase; font-weight: bold;">
              <h2>{{post.name}}</h2>
              <p>{{post.title}}</p>
            </ion-label>

          </ion-item>
          <ion-item *ngIf="post.description && post.description !== ''" lines="none">
            <p>{{post?.description}}</p>
          </ion-item>
        </ion-col>
        <ion-col style="float: right;" size="4" size-md="4">
          <ion-item lines="none">
            <ion-label style="text-align: end;">
              <p>{{post.date | timeAgo}}</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <ion-card-content style="padding: 0px !important;">
      <ion-img [src]="post.image"></ion-img>

      <!-- <ion-item *ngIf="post.likes.length === 1" lines="none">
        <ion-badge color="primary">{{post.likes.length}}</ion-badge>&nbsp; Like
      </ion-item>
      <ion-item *ngIf="post.likes.length > 1" lines="none">
        <ion-badge color="primary">{{post.likes.length}}</ion-badge>&nbsp; Likes
      </ion-item> -->
      <!-- <ion-item *ngIf="post.likes.length === 0" lines="none">
        <ion-badge color="danger">{{nb_likes}}</ion-badge>&nbsp; Likes
      </ion-item> -->
      <!-- <ion-item lines="none">
        <ion-icon *ngIf="!post.hasLiked" name="thumbs-up" size="large" slot="start" (click)="onLike(post)">
        </ion-icon>
        <ion-icon *ngIf="post.hasLiked" name="thumbs-down" size="large" slot="start" color="danger"
          (click)="disLike(post)"></ion-icon>
        &nbsp; &nbsp;
      </ion-item> -->
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid fixed>
    <ion-row style="padding-bottom: 15px;">
      <ion-col size="12" class="ion-no-padding">
        <ion-card *ngFor="let post of posts">
          <ion-card-header style="padding-bottom: 1px;">
            <ion-row>
              <ion-col>
                <ion-item detail="false" lines="none">
                  <ion-label>
                    <h2>{{post.name}}</h2>
                    <p>{{post.title}}</p>
                  </ion-label>

                </ion-item>
                <ion-item *ngIf="post.description && post.description !== ''" lines="none">
                  <p>{{post?.description}}</p>
                </ion-item>
              </ion-col>
              <ion-col style="float: right;" size="4" size-md="4">
                <ion-item lines="none">
                  <ion-label style="text-align: end;">
                    <p>{{post.date | timeAgo}}</p>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content style="padding: 0px !important;">
            <ion-img [src]="post.image"></ion-img>

            <ion-item *ngIf="post.likes.length === 1" lines="none">
              <ion-badge color="primary">{{post.likes.length}}</ion-badge>&nbsp; Like
            </ion-item>
            <ion-item *ngIf="post.likes.length > 1" lines="none">
              <ion-badge color="primary">{{post.likes.length}}</ion-badge>&nbsp; Likes
            </ion-item>

            <ion-item lines="none">
              <ion-icon *ngIf="!post.hasLiked" name="thumbs-up" size="large" slot="start" (click)="onLike(post)">
              </ion-icon>
              <ion-icon *ngIf="post.hasLiked" name="thumbs-down" size="large" slot="start" color="danger"
                (click)="disLike(post)"></ion-icon>
              &nbsp; &nbsp;
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="posts.length === 0">
      <ion-col size-sm="6" offset-sm="3" class="ion-margin-top ion-padding ion-text-center">
        <h5>No posts for this conference yet</h5>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
