<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>welcome</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin ion-no-padding">
    <ion-img src="../../assets/images/header2.png"></ion-img>
    <ion-card-header style="text-align: center;">
      <ion-card-title style="font-size: 35px; font-weight: bold;">Welcome</ion-card-title>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="btns">
        <ion-button fill="solid" shape="round">
          Login
        </ion-button>
        <ion-button fill="outline" shape="round">
          Sign Up
        </ion-button>
      </div>
    </ion-card-content>
    <!-- <ion-img style="padding-bottom: -10px;" src="../../assets/images/footer.png"></ion-img> -->
    <!-- <div>
      <ion-img src="../../assets/images/footer.png"></ion-img>
    </div> -->
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar style="background-color: #F4F5FA;">
    <ion-img src="../../assets/images/footer.png"></ion-img>
  </ion-toolbar>
</ion-footer>
